<link rel="stylesheet" href="anasayfa.css">
<body>
<div class="nav">
    <h1 class="logo">Nezuko<br>Development</h1>
   <div class="nav-data">
      <li><a href="/">Home</a></li>

        <li><a href="/register">Register</a></li>
          <li><a href="/basvuru">Başvuru</a></li>
   </div>
 </div>
  <br>
  <br>
  <hr>
    <div class="anakard">
  <img src="https://cdn.discordapp.com/icons/997888625888997557/4df331ef3cb703cbac3f07169fbcb276.webp?size=4096">
    <h1 class="logo">Nezuko <br> Development</h1>
      <div class="data">
      <p>Gördükleriniz Ve Düşündüklerinizin Ötesinde<strong>...</strong></p>
      </div>
    </div>
  <br>
  <br>
  <br>
  <br>
  <div class="buttons">
  <button href="https://discord.gg/F5pSKpEMMC" class="buton1">Sunucu Davet</button>
    <button href="/owners" class="buton2">Owners</button>
  </div>
</body>